@charset "UTF-8";
		
		.main_section1{
			width: 100%; height: 24%;
			padding-bottom: 40px;
			background-image: url("/MyWeb/IMAGES/main_img.jpg");
			background-position-x: 0;
			background-position-y: -22px;
			background-size: cover;
			background-repeat: no-repeat;
		}
		
		#worlds_2020{
			padding-top: 230px;
		}
	
		#worlds_2020 h1{
			color: white;
			font-family: "Arial Black";
			font-size: 450%;
			text-align: center;
		}
	
		.box_learn_more{
			width: 100%; height: 50px;
			margin-top: 25px;
			box-sizing: border-box;
			position: relative;
		}
	
		#main_learn_more_btn{
			
			/* 버튼 모양 편집 */
			width: 180px; height: 46px;
			border: none;
			border-radius: 40px;
			background-color: #d1363a;
			text-align: center;
			line-height: 46px;
			box-sizing: border-box;
			position: absolute;
			left: 44%;
		}
		
		#learn_more_btn{
		
			/* 폰트 편집 */
			font-size: 14px;
			font-family: "나눔고딕";
			letter-spacing: 0.05em;
			word-spacing: 0.25em;
			color: white;
			
			/* 텍스트 편집 */
			text-align: center;
			vertical-align: center;
			
		}
		
		#main_learn_more_btn:hover{
			background-color: white;
		}
		
		#main_learn_more_btn:hover #learn_more_btn{
			color: #d1363a;
		}
		
		@charset "UTF-8";

		main{
			width: 100%; height: 2800px;
			background-color: #e7e6e3;
			/**/
		}
		
		.main_section2{
			width: 100%; height: 47.67%;
			background-color: #e7e6e3;
			max-width: 1440px;
			position: relative;
		}
		
		#section2_img_nav{
			width: 95.83%; height: 104.56%;
			background-color: #e7e6e3;
			padding: 2px 2px 0px;
			box-sizing: border-box;
			margin: -70px -1.1% 0px;
			/*margin: 0px auto; */
			right: 3%;
			bottom: 0px;
			position: absolute;
			text-align: center;
		}
		
		.rowleft{
			margin-right: 10px;
		}
		
		.img_navs{
			position: relative;
			width: 667px; height: 380px;
			/*width: 46.88%; height: 32.56%;*/
			background-color: black;
			display: inline-block;
			box-sizing: border-box;
			margin-top: 10px;
		}
		
		#img_adjust{
			width: 100%; height: 100%;
			position: absolute;
			left: 0px;
		}
	
		#btn_box{
			width: 667px; height: 50px;
			position: relative;
			margin-top: 300px;
		}
		
		#btn_box_make{
			position: absolute;
			left: 40px;
		
			/* btn */
			position: absolute;
			width: 181px; height: 46px;
			background-color: rgba(255,255,255,0);
			border-radius: 40px;
			border: 1px white solid;
			
			visibility: hidden;
		}
		
		#img_adjust:hover{
			filter: brightness(180%);
			filter: contrast(90%);
			opacity: 0.9;
			filter: alpha(opacity=90);
			/* 이미지 투명도 조절 */
		}
		
		.img_navs:hover #btn_box_make{
			visibility: visible;
		}
		
		#btn_box_make:hover{
			color: #d1363a;
			background-color: rgba(255,255,255,1);
		}
		
		#fir_btn{
			/* text */
			text-align: center;
			line-height: 46px;
			font-size: 17px;
			font-family: "나눔고딕";
			word-spacing: 2px;
			letter-spacing: 0.8px;
		}
		
		.main_content3{
			width: 100%;
			/*background-color: yellow;*/
			max-width: 1440px;
			position: relative;
			text-align: center;
			top: 0px;
			box-sizing: border-box;
			display: inline-block;
		}
		
		#h2_text{
			width: 95.83%; height: 58px;
			margin: 0px auto;
		}
		
		#h2_text h2{
			font-size: 3.125em;
			font-weight: bold;
			font-family: "Arial";
			color: #2b2a29;
		}
		
		.img_size{
			width: 95.83%; height: 625px;
			background-color: silver;
			margin: 20px auto 0px;
		}
		
		#force_img_adjust{
			width: 100%; height: 100%;
		}
		
		a{
			color: white;
			text-decoration: none;
			padding: 0px;
		}
		
		#msg_r_u_game_d{
			position: absolute;
		}

		.img_blur{
			width: 95.83%; height: 625px;
			background-color: yellow;
			margin: 0px auto;
			position: absolute;
		}
		
		#img_box{
			width: 95.83%; height: 625px;
			background-color: white;
			position: absolute;
			visibility: hidden;
			filter: brightness(180%);
			filter: contrast(80%);
			opacity: 0.5;
			position: absolute;
		}
		
		.img-card{
			width: 90%; height: 25%;
			position: absolute;
			bottom:0px;
			padding-left: 5%;
		}
		
		.img_size:hover #img_box{
			visibility: visible;
		}
		
		.img_size:hover #under-line{
			visibility: visible;
		}
		
		#img_size_h2{
			width: 95.83%; height: 14.3%;
		}
		
		#img_size_h2 h2{
			width: 17%;
			background-color: #d1363a;
			margin: 0px auto;
			position: absolute;
			padding: 6px 0px;
			text-align: center;
			color: white;
			font-family: arial;
			font-size: 5%;
			letter-spacing: 0.22em;
		}
		
		#img_size_h3{				
			width: 95.83%; height: 30%;
			margin-top: 20px;
		}
		
		#img_size_h3 h3{
			float: left;
			color: white;
			font-family: arial;
			font-size: 2.3em;
			text-decoration: none;
		}
		
		#line-div{
			width: 95.83%; height: 20px;
			position: relative;
		}
		
		#under-line{
			top: 0px;
			position: absolute;
			visibility: hidden;
			left: 0px;
			clip: rect(0px, 185px, 20px, 0px);
			width: 50%;
		}
		
		#img_description{
			margin-top: -2px;
			color: white;
			float: left;
			font-family: arial;
			font-size: 1em;
			text-align: left;
		}
