@charset "UTF-8";

	.main_section2{
		width: 100%; height: 47.67%;
		background-color: #e7e6e3;
		max-width: 1440px;
		position: relative;
	}
	
	#section2_img_nav{
		width: 95.83%; height: 104.56%;
		background-color: #e7e6e3;
		padding: 10px 10px 0px;
		box-sizing: border-box;
		margin: -10px -1.95% 0px;
		right: 4%;
		bottom: 0px;
		position: absolute;
		text-align: center;
	}
	
	.rowleft{
		margin-right: 10px;
	}
	
	.img_navs{
		position: relative;
		width: 667px; height: 380px;
		/*width: 46.88%; height: 32.56%;*/
		background-color: black;
		display: inline-block;
		box-sizing: border-box;
		margin-top: 10px;
	}
	
	
	